body {
  background-image: url(image.png);
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
}

h1,
h2,
p {
  margin-top: 0px;
}

.container {
  display: flex;
  background: linear-gradient(
    90deg,
    rgb(192, 158, 211) 10%,
    rgb(194, 119, 188) 45%,
    rgb(134, 116, 185) 92%
  );
  margin-top: 10px;
  opacity: 0.9;
  background-size: 200% auto;
  background-attachment: fixed;
  background-position: right center;
  margin: 20px;
  padding: 15px 15px;
  text-align: left;
  text-transform: none;
  transition: 1s;
  background-size: 100% auto;
  color: white;
  box-shadow: 0 0 10px #eee;
  border-radius: 20px;
  display: block;
}

.container:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  transform: scale(0.99);
  box-shadow: 0 0 10px #eee;
  transition: 0.5s;
  background: linear-gradient(
    90deg,
    rgb(196, 150, 192) 45% rgb(150, 135, 190) 92% rgb(169, 111, 202) 10%
  );
}

.container h2 {
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
  font-style: italic;
}

#habilidades {
  margin: 20px;
  padding: 15px 15px;
}

#sobre {
  margin: 20px;
  padding: 15px 15px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #8139ad;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #410763;
  box-shadow: 0 0 10px #eee;
  transform: scale(1.05);
  transition: 0.5s;
  background: linear-gradient(
    90deg,
    rgb(196, 150, 192) 45% rgb(150, 135, 190) 92% rgb(169, 111, 202) 10%
  );
  color: #fff;
}

button a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: "IBM Plex Serif", serif;
}

ul {
  list-style-type: none;
}

@media (max-width: 600px) {
  body {
    background-size: cover;
  }

  .container {
    padding: 15px;
    margin: 10px;
    font-size: 16px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  button {
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
  }
}
